{
  "dir_log": "logs",
  "debug": 0,
  "orks": {
    "cluster-1": {
      "rpcPublicKey": "RPC_PUBLIC_KEY"
    }
  },
  "staticRootPath": "/home/user/dev/miningos-app-ui/build/",
  "cacheTiming": {
    "/auth/miners": "8s",
    "/auth/list-things": "8s",
    "/auth/tail-log": "8s",
    "/auth/tail-log/multi": "8s",
    "/auth/site/status/live": "8s",
    "/auth/site/power-consumption": "8s",
    "/auth/site/efficiency": "8s",
    "/auth/containers/:id/miners": "8s",
    "/auth/dcs/cooling-system": "8s",
    "/auth/dcs/energy-system": "8s",
    "/auth/alerts/site": "8s",
    "/auth/metrics/site/summary": "8s",
    "/auth/metrics/miners/by-container": "8s",
    "/auth/metrics/miner-status": "8s",
    "/auth/metrics/containers/:id": "8s",
    "/auth/metrics/cooling": "8s",
    "/auth/actions": "10s",
    "/auth/actions/batch": "10s",
    "/auth/actions/:type/:id": "10s",
    "/auth/global/data": "15s"
  },
  "featureConfig": {
    "comments": true,
    "inventory": false,
    "lvCabinetWidgets": true,
    "poolStats": true,
    "powerAvailable": true,
    "reporting": true,
    "settings": true,
    "isOneMinItvEnabled": false,
    "powerModeTimeline": false,
    "totalSystemConsumptionChart": false,
    "exportHistKpiDashboard": false,
    "showMinerConsumptionDashboard": false,
    "totalSystemConsumptionHeader": false,
    "energyProvision": true,
    "admeStats": true,
    "alertsHistoricalLogEnabled": true,
    "isReportingEnabled": true,
    "centralDCSSetup": {
      "enabled": false,
      "tag": "t-dcs"
    }
  },
  "ttl": 300,
  "timezone": "UTC",
  "site": "SITE_NAME",
  "rpcTimeout" : 15000,
  "expectedActionLatencyMs": 6000
}
